<h1>Test Drive</h1>
<p>Sorry, "Test-Drive" mode isn't implemented yet. :(</p>

<p>So for now, just <a href="/account/new">make an account</a> and try out the site that way. It takes 30 seconds. Go for it!</p>
