
        <a href="#" id="serving<%= serving.id %>" class="list-group-item" onClick="return open_context_menu(event, this);" onContextMenu="return open_context_menu(event, this);">
          <%= serving.quantity_as_str %>
          <%= serving.name %>
          <span class="label label-default"><%= serving.calories %> calories</span>
        </a>
