
        <a href="#" class="list-group-item" onClick="return open_context_menu(event);" onContextMenu="return open_context_menu(event);">
          <%= serving.quantity_as_str %>
          <%= serving.name %>
          <span class="label label-default"><%= serving.calories %> calories</span>
        </a>
