        <a href="#" class="list-group-item" onClick="return false;">
          <%= serving.quantity_as_str %>
          <%= serving.name %>
          <span class="badge"><%= serving.calories %> calories</span> 
        </a>