

// Bootstrap variables here: http://getbootstrap.com/customize/#less-variables  

@import "bootstrap";
@import "bootstrap/theme";
@import "typeahead";

body { padding-top: 70px; }

#contextMenu {
    position: absolute;
    display:none;
}

.typeaheadDropdownFood {
  font-weight: bold;
}

.typeaheadDropdownCalories {
  float: right;
  font-style: italic;
}
